{% extends 'AppBundle::base.html.twig' %}
{% block page_title %}смена пароля{% endblock %}
{% block body %}
<div class="container">
    <div class="panel-default panel">
    <div class="panel-body">
    <legend><h1>Смена пароля</h1></legend>
    <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal fos_user_change_password">
        <fieldset>
                        <div class="form-group">
                              <label for="inputPassword" class="col-lg-2 control-label">Текущий пароль</label>
                              <div class="col-lg-10">
                                      {{ form_widget(form.current_password, { 'attr': {'class': 'form-control', 'id' : 'inputPassword', 'placeholder' : 'Текущий пароль'} }) }}
                                      <div class="form_error_field">{{ form_errors(form.current_password) }}</div>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="inputPassword" class="col-lg-2 control-label">Новый пароль</label>
                              <div class="col-lg-10">
                                      {{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordFirst', 'placeholder' : 'Новый пароль'} }) }}
                                      <div class="form_error_field">{{ form_errors(form.plainPassword.first) }}</div>
                              </div>
                        </div>
                        <div class="form-group">
                              <label for="inputPassword" class="col-lg-2 control-label">Подтвердите новый пароль</label>
                              <div class="col-lg-10">
                                      {{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control', 'id' : 'inputPlainPasswordSecond', 'placeholder' : 'Подтвердите новый пароль'} }) }}
                                      <div class="form_error_field">{{ form_errors(form.plainPassword.second) }}</div>
                              </div>
                        </div>
                              {{ form_widget(form._token, { 'attr': {'type': 'hidden'} }) }}
                        <div class="form-group">
                              <div class="col-lg-10 col-lg-offset-2">
                                <input class="btn btn-default" type="submit" value="Поменять" />
                              </div>
                        </div>
		</fieldset>
    </form>
    </div>
    </div>
</div>
{% endblock body %}
